<footer class="footer-box p-5">
  <div class="wrapper-info ">
    <div class="banner">
      <img src="" alt="">
      <p class="primario">
        <span>Educadores de Nuevo León</span>
      </p>
    </div>
  </div>
  <div class="container-addres d-flex flex-row">
    <!-- <div class="d-flex flex-row"> -->

      <div class="wrapper-about">
        <div class="d-block mb-3"> Contactanos</div>
        <div class="d-flex flex-row p-1 align-items-center">
          <i class="fa-solid fa-phone me-3"></i>
          <span class="secundario">+52 1 81 2320 7706</span>
        </div>
        <div class="d-flex flex-row p-1 align-items-center">
          <i class="fa-solid fa-envelope me-3"></i>
          <span class="secundario">educadoresdnltv@gmail.com</span>
        </div>
      </div>
      <div class="wrapper-adress ">
        <span class=" d-block mb-3">Direccion:</span>
      <span>L, Av. Camino Real 1741-1757, Camino Real, 67170 Guadalupe, N.L.</span>
    </div>
  <!-- </div> -->
    <!-- ------------- -->
    <div class="container-bottom d-flex flex-row">
      <div class="box-img-footer">
        <img src="../../../assets/svg/logo-school.svg" alt="">
      </div>
      <!-- <div class="wrapper-maps"> -->
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3596.2195767848502!2d-100.22624406963587!3d25.664014957427874!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662c030a940784d%3A0x4e05c68e3599f9c8!2sEducadores%20De%20Nuevo%20Le%C3%B3n!5e0!3m2!1ses!2smx!4v1653981684800!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        <iframe class="wrapper-maps" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3596.2195767848502!2d-100.22624406963587!3d25.664014957427874!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662c030a940784d%3A0x4e05c68e3599f9c8!2sEducadores%20De%20Nuevo%20Le%C3%B3n!5e0!3m2!1ses!2smx!4v1653981684800!5m2!1ses!2smx" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <!-- </div> -->
    </div>
  </div>
</footer>
<div class="d-block text-center">
  © Copyrights 2022 design by M
</div>
