<footer class="footer-box p-5">
  <div class="wrapper-info ">
    <div class="banner">
      <img src="" alt="">
      <p class="primario">
        <span>Educadores de Nuevo León</span>
      </p>
    </div>
  </div>
  <div class="container-addres d-flex flex-row">
    <!-- <div class="d-flex flex-row"> -->

      <div class="wrapper-about">
        <div class="d-block mb-3"> Contactanos</div>
        <div class="d-flex flex-row p-1 align-items-center">
          <i class="fa-solid fa-phone me-3"></i>
          <span class="secundario">+12586954775</span>
        </div>
        <div class="d-flex flex-row p-1 align-items-center">
          <i class="fa-solid fa-envelope me-3"></i>
          <span class="secundario">demo@gmail.com</span>
        </div>
      </div>
      <div class="wrapper-adress ">
        <span class=" d-block mb-3">Direccion:</span>
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsam reiciendis, illo, eius veritatis corporis,
        magni nostrum iure ad tenetur iusto vero odit et voluptatem nihil commodi dolores libero reprehenderit?</span>
    </div>
  <!-- </div> -->
    <!-- ------------- -->
    <div class="container-bottom d-flex flex-row">
      <div class="box-img-footer">
        <img src="" alt="">
      </div>
      <!-- <div class="wrapper-maps"> -->
        <iframe class="wrapper-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.091145000469!2d-100.26135713533996!3d25.66827316872667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662c007eef2bfb1%3A0x551792d8645c1988!2sLa%20Pastora%2C%2067140%20Guadalupe%2C%20N.L.!5e0!3m2!1ses!2smx!4v1649765495972!5m2!1ses!2smx" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <!-- </div> -->
    </div>
  </div>
</footer>
<div class="d-block text-center">
  © Copyrights 2022 design by M
</div>
