footer.footer-box{

  background-color: #3c3f42;
  color: #fff;
  // width: 80%;
  // margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .wrapper-info{

  }
}
.container-addres{
  gap: 2.5rem;
  @media (max-width: 1024px){
    flex-direction: column!important;
    align-items: center;
  }
}
.container-bottom{
  gap: 1rem;

  .box-img-footer,.wrapper-maps{
    overflow: hidden;
    border-radius: 15px;
    width: 250px;
    height: 200px;
    background: #C4C4C4;
    @media (max-width: 1024px){
      width: 120px;
      height: 120px;

    }

  }
  .wrapper-maps{
// width: 50%;
  }
}
.iframe{

}

span{
  color: #fff;

}
p.primario{
  font-weight: 500;
    font-size: calc(7.07386px + 2.06795vw);
}
span.secundario{
  // width: 200px;
}
i{
  font-size: 1.3rem;
}

