header {
  position: fixed;
  width: 100vw;
  z-index: 99999;
  top: 0;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: 500;
  color: #424f59;
  padding: 0 0 7px 0;
  span {
    height: 21px;
  }
}
.nav-link {
  font-size: 1rem;
  color: #5f7d95;
  &-active {
    font-weight: 700;
  }
  &:hover {
    color: #1273eb;
  }
}
.logo-school {
  height: 55px;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
