<section class="news mb-5 mt-5 pt-3">
  <h2 class="d-block text-center title">Avisos</h2>


  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active" data-bs-interval="10000">
        <div class="wrapper-slide">
          <img src="../../../assets/svg/descargas.jpeg" alt="">
          <p>Felicidades a la Generación 2016-2022</p>
        </div>
    </div>

    <div class="carousel-item" data-bs-interval="10000">
        <div class="wrapper-slide">
          <img src="../../../assets/svg/news2.svg" alt="" >
          <p>Recuerda realizar el proceso de inscripción antes de la fecha limite 5 de Julio ( Revisar PDF)</p>
        </div>
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <i class="fa-solid fa-caret-left"></i>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <i class="fa-solid fa-caret-right"></i>
    </button>
  </div>
</section>
