<div class="container-carrousel">

  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-touch="false" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <video class="d-block w-100" autoplay controls>
          <source src="../../../assets/video/video1.mp4" type="video/mp4">
        </video>
      </div>
      <div class="carousel-item">
        <video class="d-block w-100" autoplay controls>
          <source src="../../../assets/video/video2.mp4" type="video/mp4">
        </video>
      </div>
      <div class="carousel-item">
        <video class="d-block w-100" autoplay controls>
          <source src="../../../assets/video/video3.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <i class="fa-solid fa-angle-left"></i>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <i class="fa-solid fa-angle-right"></i>
    </button>
  </div>

</div>

<!-- ------------------------- -->
<div class="container-row-cards">
  <div class="box-card">
    <i class="fa-solid fa-school"></i>
    <span>Desarrollo Estudiantil</span>
  </div>
  <div class="box-card">
    <i class="fa-solid fa-graduation-cap"></i>
    <span>Graduaciones</span>
  </div>
  <div class="box-card">
    <i class="fa-solid fa-users"></i>
    <span>Entorno Social</span>
  </div>
  <div class="box-card">
    <i class="fa-solid fa-location-dot"></i>
    <span>Ubicación</span>
  </div>
  <div class="box-card">
    <i class="fa-solid fa-phone-flip"></i>
    <span>Telefono</span>
  </div>
  <div class="box-card">
    <i class="fa-solid fa-envelope"></i>
    <span>Correo</span>
  </div>
</div>
<!-- -------------| SECCION FIRST |-------------- -->
<section class="container-info-school ">
  <p>
    <span class="title">Educacion al Siguiente Nivel</span>
    <span class="secundario">"Historia de la Primaria"</span>
  </p>
  <div class="box-img">
    <img src="../../../assets/svg/educacion.svg" alt="">
  </div>
</section>
<!-- -------------| SECCION ADMISIONES |-------------- -->
<section class="container-info-school custom-reverse">
  <div class="box-img">
    <img src="../../../assets/svg/admision.svg" alt="">
  </div>
  <p>
    <span class="title">Admisiones</span>
    <span class="secundario">Proceso de Inscripción</span>
    <button class="btn btn-success ms-auto me-auto mt-5"> Descargar PDF</button>
  </p>
</section>

<app-avisos></app-avisos>
<app-contacto></app-contacto>
