<div class="container-carrousel">

  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-touch="false" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="12000">
        <video class="d-block w-100" autoplay controls>
          <source src="../../../assets/video/video1.mp4" type="video/mp4">
        </video>
      </div>
      <div class="carousel-item" data-bs-interval="20000">
        <video class="d-block w-100" autoplay controls>
          <source src="../../../assets/video/video2.mp4" type="video/mp4">
        </video>
      </div>
      <div class="carousel-item" data-bs-interval="20000">
        <video class="d-block w-100" autoplay controls>
          <source src="../../../assets/video/video3.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <i class="fa-solid fa-angle-left"></i>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <i class="fa-solid fa-angle-right"></i>
    </button>
  </div>

</div>

<!-- ------------------------- -->
<div class="container-row-cards">
  <div class="box-card" [routerLink]="'/talleres'">
    <i class="fa-solid fa-school"></i>
    <span>Desarrollo Estudiantil</span>
  </div>
  <!-- <div class="box-card" href="#noticias"> -->
  <div class="box-card" [routerLink]="'/noticias'">
    <i class="fa-solid fa-graduation-cap"></i>
    <span>Graduaciones</span>
  </div>
  <div class="box-card" [routerLink]="'/personal'">
    <i class="fa-solid fa-users"></i>
    <span>Entorno Social</span>
  </div>
  <a class="box-card" href="#ubicacion">
    <i class="fa-solid fa-location-dot"></i>
    <span>Ubicación</span>
  </a>
  <a class="box-card" href="#ubicacion">
    <i class="fa-solid fa-phone-flip"></i>
    <span>Telefono</span>
  </a>
  <a class="box-card" href="#ubicacion">
    <i class="fa-solid fa-envelope"></i>
    <span>Correo</span>
  </a>
</div>
<!-- -------------| SECCION FIRST |-------------- -->
<section class="container-info-school ">
  <p>
    <span class="title">Educacion al Siguiente Nivel</span>
    <span class="secundario">"La historia comienza desde su fundación el 16 de Septiembre de 1988 por el profesor José
      Antonio Guzmán Arcos, en sus comienzos se contaba con un total de 230 alumnos aproximadamente y solamente 8
      salones, Su escudo representa los valores de la institución tanto académicos como personales y profesionales es
      por ellos que después de 34 años siguen siendo el pilar de su esfuerzo y trabajo diario para formar a personas de
      provecho a la sociedad."</span>
  </p>
  <div class="box-img">
    <img src="../../../assets/svg/educacion.svg" alt="">
  </div>
</section>
<!-- -------------| SECCION ADMISIONES |-------------- -->
<section class="container-info-school custom-reverse">
  <div class="box-img">
    <img src="../../../assets/svg/admision.svg" alt="">
  </div>
  <p>
    <span class="title">Admisiones</span>
    <span class="secundario">Proceso de Inscripción</span>
    <a _ngcontent-c15="" class="btn btn-success ms-auto me-auto mt-5" download="proceso de admision.pdf" href="../../../assets/pdf/Proceso de Inscripción.pdf">Descargar PDF</a>
  </p>
</section>

<app-avisos></app-avisos>
<app-contacto></app-contacto>
<div id="ubicacion"></div>
