
<section class="container-section">
  <h2 class="title-section d-block text-center">Contactanos</h2>
  <div class="container-info-school d-flex ">
    <div class="box-img">
      <img src="../../../assets/images/img10.png" alt="">
    </div>
    <form action="" class="w-100 d-flex flex-column align-items-center justify-content-center">
    <input type="email" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Nombre">
    <input type="email" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Correo">
    <input type="email" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Telefono">
    <input type="email" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Mensaje">
    <button class="btn btn-secondary ms-auto">Enviar</button>
  </form>
</div>

</section>

